In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('thesaurus.xlsx')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   THE_T_U_UID       209 non-null    float64
 1   THE_TE_UID        209 non-null    float64
 2   TERM              209 non-null    object
 3   CountOfTERM       180 non-null    float64
 4   BROAD_TERM_U_UID  208 non-null    float64
 5   BROAD_THE_TE_UID  209 non-null    float64
 6   BROAD_TERM        209 non-null    object
 7   TOP_TERM_U_UID    209 non-null    float64
 8   TOP_THE_TE_UID    209 non-null    float64
 9   TOP_TERM          209 non-null    object
 10  Match Getty       209 non-null    object
 11  Getty URL         209 non-null    object
 12  Target Concept    209 non-null    object
 13  Getty BT          209 non-null    object
 14  Getty BT URL      209 non-null    object
 15  Getty BT2         197 non-null    object
 16  Getty BT 2 URL    197 non-null    object
 17  COMMENTS          55 non-null     object
dtypes: float64(7), object(11)
memory usage: 29.7+ KB

In [5]:
data.describe()

,THE_T_U_UID,THE_TE_UID,CountOfTERM,BROAD_TERM_U_UID,BROAD_THE_TE_UID,TOP_TERM_U_UID,TOP_THE_TE_UID
count,209.000000,209.000000,180.000000,208.000000,209.000000,209.0,209.0
mean,7347.124402,502196.578947,166.061111,7030.807692,501941.679426,7014.0,501925.0
std,1149.012475,1037.878946,753.925342,49.846446,51.321644,0.0,0.0
min,6920.000000,501826.000000,1.000000,6933.000000,501841.000000,7014.0,501925.0
25%,6973.000000,501883.000000,2.000000,7002.000000,501913.000000,7014.0,501925.0
50%,7026.000000,501937.000000,11.000000,7032.000000,501943.000000,7014.0,501925.0
75%,7080.000000,501990.000000,43.000000,7065.000000,501977.000000,7014.0,501925.0
max,13418.000000,507964.000000,8757.000000,7107.000000,502019.000000,7014.0,501925.0

In [7]:
data.head()

,THE_T_U_UID,THE_TE_UID,TERM,CountOfTERM,BROAD_TERM_U_UID,BROAD_THE_TE_UID,BROAD_TERM,TOP_TERM_U_UID,TOP_THE_TE_UID,TOP_TERM,Match Getty,Getty URL,Target Concept,Getty BT,Getty BT URL,Getty BT2,Getty BT 2 URL,COMMENTS
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6927.0,501833.0,AUXILIARY FISHING VESSEL,3.0,6980.0,501889.0,FISHING VESSEL,7014.0,501925.0,MARITIME CRAFT,Broad Match,http://vocab.getty.edu/page/aat/300232733,fishing vessels,hunting and commercial fishing vessels,http://vocab.getty.edu/page/aat/300232732,watercraft by function,http://vocab.getty.edu/page/aat/300232728,NaN
2,6948.0,501854.0,BUSS,17.0,6980.0,501889.0,FISHING VESSEL,7014.0,501925.0,MARITIME CRAFT,Broad Match,http://vocab.getty.edu/page/aat/300232733,fishing vessels,hunting and commercial fishing vessels,http://vocab.getty.edu/page/aat/300232732,watercraft by function,http://vocab.getty.edu/page/aat/300232728,NaN
3,6965.0,501873.0,DRIFTER,82.0,6980.0,501889.0,FISHING VESSEL,7014.0,501925.0,MARITIME CRAFT,Broad Match,http://vocab.getty.edu/page/aat/300232733,fishing vessels,hunting and commercial fishing vessels,http://vocab.getty.edu/page/aat/300232732,watercraft by function,http://vocab.getty.edu/page/aat/300232728,NaN
4,6993.0,501902.0,HOOKER,1.0,6980.0,501889.0,FISHING VESSEL,7014.0,501925.0,MARITIME CRAFT,Close Match,http://vocab.getty.edu/page/aat/300438837,"\thookers (inland vessels, <watercraft by loca...",sailing vessels by rig type,http://vocab.getty.edu/page/aat/300233020,\tsailing vessels,http://vocab.getty.edu/page/aat/300233013,Not to be used for Galway Hookers! I disagree ...

In [11]:
data['BROAD_TERM'].value_counts()

MARITIME CRAFT                   43
SAILING VESSEL (BY FORM/TYPE)    27
WARSHIP                          16
FISHING VESSEL                   11
BARGE                             9
SERVICE VESSEL                    7
DREDGER                           6
YACHT                             6
CARGO VESSEL                      6
NAVAL SUPPORT VESSEL              6
SHIP OF THE LINE                  6
SQUARE RIGGED VESSEL              5
TRAWLER                           5
SAILING VESSEL (BY RIG)           4
PASSENGER VESSEL                  3
SCHOONER                          3
EAST INDIAMAN                     3
DRIFTER                           3
LANDING CRAFT                     2
HARBOUR SERVICE CRAFT             2
BRIG                              2
TUG                               2
RESCUE VESSEL                     2
KETCH                             2
TRANSPORT VESSEL                  2
LAUNCH                            2
CRAFT                             2
SUBMARINE                         1
STEAM TUG                         1
RECREATIONAL VESSEL               1
YAWL                              1
HIGH SPEED LAUNCH                 1
STEAM DRIFTER                     1
PINNACE                           1
PATROL VESSEL                     1
MOTOR TRAWLER                     1
TANKER                            1
MOTOR VESSEL                      1
SMACK                             1
BARQUE                            1
ESCORT VESSEL                     1
CUSTOMS BOAT                      1
LUGGER                            1
MOTOR DRIFTER                     1
WHERRY                            1
LIGHTER                           1
SLOOP                             1
TRINITY HOUSE VESSEL              1
FACTORY SHIP                      1
Name: BROAD_TERM, dtype: int64

Broad term maritime craft is used the most.

In [12]:
data['TOP_TERM'].unique()

array([nan, 'MARITIME CRAFT'], dtype=object)

Top term is of no use here. We can delete the column

In [18]:
data['Match Getty'].value_counts()

Broad Match      66
Exact match      62
Broad match      44
Exact Match      25
Close Match       5
Related match     4
Related Match     1
Close match       1
Narrow match      1
Name: Match Getty, dtype: int64

Maximum values are broad matched: 110. 87 exact matches.

In [20]:
data['Target Concept'].unique()

array([nan, 'fishing vessels',
       '\thookers (inland vessels, <watercraft by location or context>',
       'trawlers (net fishing vessels, <fishing vessels by function>, ... Furnishings and Equipment (hierarchy name))',
       'Fishing Vessels', 'Fishing vessels', 'seiners', 'Trawlers',
       'Whaling Vessels', 'lighters', 'tugboats', 'Tenders',
       '\tketches (square-rigged vessels)  or \tketches (fore-and-aft-rigged vessels)',
       'landing craft',
       'landing craft (<temporary alphabetical list: watercraft>, watercraft, ... Furnishings and Equipment (hierarchy name))',
       "launches (ships' boats, tenders (utility vessels), ... Furnishings and Equipment",
       'steam launch', '\tlighters', 'sailing vessels', 'warships',
       'Boats', 'boats', '\tpatrol boat', 'dredgers', '\tfactory ships',
       'trawlers', 'cargo vessels', 'factory ships', 'flying boats',
       'canal barge', '\tlaunchse',
       "\tlaunches (ships' boats, tenders (utility vessels), ... Furnishings and Equipment (hierarchy name))",
       'watercraft', 'tankers', 'mechanically powered watercraft',
       'naval auxiliary ships', 'utility and service vessels', 'oiler',
       'Exact match', 'Patrol Boat', '\tpleasure craft',
       'Sailing vessels', 'sailing vessels by rig type>', 'Scows',
       'Seaplanes', 'Service vessel', 'Ships', 'Speedboats',
       'Packet ships', 'Survey vessel', 'Transport vessels',
       'Service Vessel', 'Warships', '\tgalley', 'Privateer', 'sloop',
       'Hazards',
       'houseboats (<watercraft by function>, <watercraft by specific type>',
       '\t\temergency vessels\nRecord Type: concept\n\temergency vessels',
       'Raft', 'barges', '\ttrawlrs', 'cruisers', 'service vessels',
       'yachts', 'sailing vessels by rig type', '\tbrges', 'Barges',
       '\tbarge', '\tbarges (flat-bottomed watercraft)', 'Barks', 'Brigs',
       'hermaphrodite brigs (<temporary alphabetical list: watercraft>, watercraft, ... Furnishings and Equipment (hierarchy name))',
       'colliers (bulk carriers)',
       'Liberty ships (three-island vessels, <watercraft by superstructure configuration>, ... Furnishings and Equipment (hierarchy name))\n Liberty ships',
       'Passenger Vessels', 'container ships', 'fishing vessels by form',
       '\tdugou', 'Revenue cutters',
       '\tdredgers (watercraft) (<harbor and channel craft>, <utility and service vessels>, ... Furnishings and Equipment (hierarchy name))',
       'Dredgers',
       'Dredgers - but note http://vocab.getty.edu/page/aat/300434067 Suction dredge as a tool',
       'net fishing vessels', '\tretourships', 'frigates',
       'fore-and-aft-rigged vessels',
       'motorboats (internal combustion engine-powered watercraft,',
       'Packet ships -', 'Steamboats', '\tline fishing vessels', 'Skiffs',
       'sloops', 'Sailing Vessels', 'Steamships', 'Wherry',
       'hospital ships (naval auxiliary ships, naval ships, ... Furnishings and Equipment (hierarchy name))',
       '\tnaval auxiliary ships', 'hulks (utility and service vessels)',
       'ferries', 'ocean liners', 'Pinnaces', 'Yachts',
       '\tyawls (sailing vessels)', 'yawls',
       'temporary alphabetical list: watercraft', '\tclipper ships',
       'barkentines', 'brigantines', 'Schooners', 'Square-rigged vessel',
       'schooners', 'Topsail schooners', '\tpilot boats', 'buoy tender',
       'tenders (utility vessels)', 'hulks', 'tenders',
       'emergency vessels', 'Salvage vessels', 'Ships of the line',
       'sloops (sailing vessels) or sloops (warships)', 'barks',
       '\tbrigs (sailing vessels)', 'snows (sailing vessels)',
       '\tnet fishing vessels', 'Tugboats',
       '\tsubmarines (subsurface watercraft, <watercraft by displacement>, ... Furnishings and Equipment (hierarchy name))',
       'Tankers', 'lightships', 'aircraft carriers', '\tbattleships',
       'corvette', 'destroyers', 'escort vessels', '\tlandin craft',
       'minelayers', '\tminesweepers', 'motor torpedo boats',
       'Submarines', ' \tgunboats', 'torpedoes', 'Factory ships', 'Buoys',
       'lifeboats', 'coasters', 'galleys', 'carracks', 'cutters',
       '\tyawls', '\trowed watercraft', 'galleons', 'double-enders',
       'ketches'], dtype=object)

Target concept column needs cleaning. But what's the use

In [21]:
data['Getty BT'].unique()

array([nan, 'hunting and commercial fishing vessels',
       'sailing vessels by rig type', 'net fishing vessels',
       '\tnet fishing vessels',
       '\thunting and commercial fishing vessels', 'cargo vessels',
       'assistance vessels', 'utility and service vessels',
       'two-masted square-rigged vessels',
       'temporary alphabetical list: watercraft', "\tships' boats",
       '\tcargo vessels', 'naval ships', 'watercraft by general type',
       'harbor and channel craft', 'merchant vessels by cargo type',
       'Seaplanes', 'barges', "ships' boats",
       '\tvehicles (transportation', 'watercraft by method of propulsion',
       'naval auxiliary ships', 'mechanically powered watercraft',
       'competition and recreation craft', 'sailing vessels',
       '\tsquare-ended watercraft', 'fixed-wing aircraft', 'motorboats',
       'watercraft by function', 'single level rowed watercraft',
       'fore-and-aft-rigged vessels', '\tsafety-related concepts',
       '\tdisplacement vessels', 'flat-bottomed watercraft',
       'warships carrying projectile weapons', '\tsailing vessels',
       '\tflat-bottomed watercraft', '\tsquare-rigged vessels', 'brigs',
       'bulk carriers', 'three-island vessels', '\tmerchant vessels',
       '\tfishing vessels', 'watercraft by construction',
       'law enforcement vessels', 'fishing vessels', 'galleons',
       '\tinternal combustion engine-powered watercraft',
       'external combustion engine-powered watercraft',
       'fishing vessels by function',
       '\texternal combustion engine-powered watercraft',
       'merchant vessels by type of service', '\tnaval auxiliary ships',
       '\tpassenger vessels', 'watercraft', 'watercraft by form',
       'square-rigged vessels', '\tfore-and-aft-rigged vessels',
       'schooners', '\tassistance vessels', 'brigs (sailing vessels)',
       'subsurface watercraft', 'merchant vessels', 'warships',
       'mine warfare ships', 'patrol and intelligence vessels',
       '\tsubsurface watercraft', 'missiles (weapons)', 'whaling vessels',
       'equipment for transportation', 'emergency vessels',
       'watercraft by location or context',
       '\tsingle level rowed watercraft', 'watercraft by form>',
       '\thuman-powered watercraft', 'symmetrical-ended watercraft'],
      dtype=object)